.body{
    position: relative;
    background: url(/images/3907391.jpg) no-repeat ;
    background-repeat: no-repeat; 
     height: 100%;
    background-size: cover ; 
    padding-top: 100px;
    padding-bottom: 200px;
    
    
}
.wheatherTxt{
    color: rgb(35, 29, 87);
}
.inputDiv{
    position: relative;
}
.inputDiv i{
    position: absolute;
    left: 15px;
    font-size: 20px;
    color: darkcyan;
    bottom: 10px;
    /* top: 40px; */
    z-index: 1;
    
}
.bg-card{
    /* background-color: #60cf6d00; */
    background-image: linear-gradient(315deg, #63d4707e 0%, #233329bd 94%);
    /* border: 2px solid black; */
    border-radius: 10px;
    
}
.footerContainer{
   
    /* margin-top: 500px; */
    background-image: linear-gradient( #A9F1DF ,#FFBBBB) ;
}
